.title {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: #1B3139;
}


.title {
    margin: 0;
}

.subtitle {
    padding-left: 30%;
}

.control-panel {
    margin-top: 2em;
    border: 1px solid #e5e5e5;
    padding: 1em;
    border-radius: 5px;
    background-color: #F9F7F4;
}